.body{
    background-color: black;
    color: white;
}
.article{
    background-color: rgb(44, 43, 43);
}
.titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}
.resaltado{
    color: yellow;
}
.back{
    background-color: black;
    color: white;
}
.arti{
    background-color: rgb(44, 43, 43);
}