body{
    background-color: black;
    color: white;
}
article{
    background-color: rgb(44, 43, 43);
}
.titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}
.resaltado{
    color: yellow;
}
.back{
    background-color: black;
    color: white;
}
.arti{
    background-color: rgb(44, 43, 43);
}
article{
    padding: 1.5rem;
}
article{
  border-bottom-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
}